<h1>este es mi equipo de empresa</h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti repudiandae deserunt voluptates reiciendis sequi. Atque veniam possimus perspiciatis voluptatem dicta repudiandae eaque eius quaerat laboriosam, delectus nostrum! Animi, a molestias!</p>
<ul>
  {{#each team}}
    <li>
      <a href="/team/{{this.name}}">{{this.name}}</a>
    </li>
  {{/each}}
</ul>