<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />  
    <title>My Awesome App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  </head>
  <body>
    <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/team">Equipo</a></li>
    <li><a href="/about-me">About Me</a></li>
    </ul>
    {{{body}}}
    <h1>esto se ve abajo compartido para todos</h1>
  </body>
</html>